<launch>
    <param name="name" value="test_trial"/>
    <rosparam file="$(find robot_kf_bayesopt)/config/vehicleParams.yaml" command="load" />
    <param name="pnoise_est" type="double" value="1.0"/>
    <param name="onoise_est" type="double" value="0.1"/>
    <node name="test_trial" pkg = "robot_kf_bayesopt" type = "test_trial" output="screen">
    </node>
</launch>